.quick-tips-wrapper {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 20px;
  .head {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  p{
    margin-top: 10px;
    font-size: 13px;
    color: #7b7b7b;
  }
}
