.inner-bookings-view-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  .status-badge {
    background-color: #27ae6040;
    color: #27ae60;
    padding: 5px 20px;
    border-radius: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .label-wrapper {
  }
  .cont-wrapper {
  }
  .seller-info-wrapper{
    background-color: #f1f1f185;
    padding: 20px;
    border-radius: 10px;

    .user-profile-wrapper {
      display: flex;
      align-items: end;
      gap: 15px;
      width: 95%;
      position: relative;

      @media (max-width: 525px) {
        margin-top: 8px;
      }
      .user-image {
        position: relative;
        background-color: #e7e7e9;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @media (max-width: 525px) {
          width: 40px;
          height: 40px;
        }

        //   overflow: hidden;
        img {
          border: 3px solid #fff;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          @media (max-width: 525px) {
            width: 40px;
            height: 40px;
          }
        }
        .badge-is-online {
          position: absolute;
          background-color: #27ae60;
          width: 12px;
          height: 12px;
          border-radius: 5px;
          right: 0;
          top: 40px;
          border: 2px solid #fff;
          @media (max-width: 525px) {
            top: 20px;
            right: -4px;
          }
        }
      }
      .user-details {
        display: flex;
        gap: 10px;
        .main-details {
          display: flex;
          flex-direction: column;
          gap: 3;
          width: fit-content;
          h2 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
            color: #a4a4a4;
          }
        }
      }
    }

  }
}
